@import url(../fonts/stylesheet.css);
header {
  background: #2F3132;
  height: 100px;
}
header .wrapper-header {
  width: 1157px;
  margin: 0 auto;
}
header .header-position {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav {
  width: 680px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav a {
  font-family: "robotomedium";
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 0;
  color: #fff;
  text-decoration: none;
}
header nav a:hover {
  border-bottom: 1px solid #fff;
  transition-duration: 0.3s;
  transition-delay: 0.2s;
}
header nav div {
  background: #494949;
  height: 35px;
  width: 1px;
}

main .top {
  background: #e0e1e2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  padding: 20px;
}
main .top h3 {
  position: absolute;
  top: 70px;
}
main .top p {
  margin: 8px;
}
main .top a {
  margin: 49px 0 60px 0;
}
main h3 {
  font-family: "robotoblack";
  top: 100px;
  font-size: 36px;
  text-transform: uppercase;
}
main p {
  font-family: "robotoregular";
  font-size: 20px;
  width: 760px;
  text-align: center;
}
main #wireless {
  height: 800px;
  padding: 70px;
  background: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #wireless i {
  color: #c4c4c4;
  font-size: 40px;
}
main #wireless h3 {
  margin: 35px 0 0 0;
}
main #wireless .bgt {
  margin: 60px auto 0 auto;
  position: relative;
  top: -60px;
  left: -230px;
}
main #wireless .bgt span {
  position: absolute;
  font-family: "robotoblack";
  color: #c4c4c4;
}
main #wireless .bgt span:first-child {
  font-size: 290px;
}
main #wireless .bgt span:last-child {
  top: 55px;
  left: 330px;
  font-size: 90px;
}
main #wireless div:last-child {
  margin: 74px 0 0 0;
  width: 1245px;
  display: flex;
  justify-content: space-between;
}
main #everywhere {
  padding: 100px 0;
  height: 1157px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #everywhere h3 {
  margin: 0;
}
main #everywhere p {
  margin: 35px 0 0 0;
}
main #everywhere .advantages {
  margin: 50px auto;
  width: 505px;
  display: flex;
  justify-content: space-between;
}
main #everywhere .advantages div {
  width: 230px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}
main #everywhere .advantages div h3 {
  margin: 0;
}
main #everywhere .advantages div p {
  margin: 0;
  max-width: 100%;
}
main #everywhere .options {
  width: 1280px;
  height: 690px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #everywhere .options h3 {
  font-size: 20px;
  margin: 40px auto 15px auto;
}
main #everywhere .options div {
  width: 405px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #everywhere .options div ul {
  width: 320px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
main #everywhere .options div li {
  list-style: none;
}
main #everywhere .options div li img {
  border-radius: 50%;
}
main #everywhere .options div li .active {
  border: 2px solid red;
}
main #everywhere .options div button {
  font-size: 30px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
main #devices {
  background: #ededed center no-repeat url(../img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1332px;
}
main #devices h3 {
  margin: 100px auto 10px auto;
}
main #devices p {
  margin: 25px 0 0 0;
  width: 960px;
}
main #devices .how-to-use {
  margin: 60px auto;
  padding: 0;
  height: 60px;
  width: 960px;
  font-size: 20px;
  font-family: "robotoregular";
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #devices .how-to-use span {
  width: 315px;
  text-align: center;
  position: relative;
}
main #devices .how-to-use span:last-child {
  width: 150px;
}
main #devices .how-to-use div {
  background: #494949;
  width: 1px;
  height: 60px;
}
main #individual {
  background: #ededed;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #individual h3 {
  margin: 0;
}
main #individual p {
  width: 958px;
  text-align: center;
  margin: 38px auto 52px auto;
}
main #individual img {
  width: 1171px;
}
main #individual div {
  margin: 52px 0 0 0;
  padding: 38px 0 29px 0;
  width: 749px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c4c4c4;
}
main #individual div .icons {
  width: 512px;
  display: flex;
  justify-content: space-between;
}
main #individual div .icons img {
  width: 40px;
  height: 35px;
}
main #individual div .icons img:nth-child(3) {
  width: 80px;
}
main #individual div p {
  margin: 25px 0 0 0;
  text-align: center;
  width: 700px;
}
main #faster {
  margin: 0 auto;
  padding: 100px;
  width: 1310px;
  display: grid;
  grid-template-rows: 557px 557px;
}
main #faster div {
  display: grid;
  grid-template-columns: 655px 655px;
}
main #faster div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}
main #faster div div h3 {
  margin: 0;
}
main #faster .comfort div h3, main #faster .comfort div p {
  width: 400px;
  text-align: left;
}
main #faster .faster div {
  display: flex;
  align-items: end;
}
main #faster .faster div h3, main #faster .faster div p {
  width: 400px;
  text-align: right;
}

footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2F3132;
}
footer p {
  width: 200px;
  color: #c7c8c8;
  text-align: center;
}/*# sourceMappingURL=main.css.map */