@import url(../fonts/stylesheet.css);

$mainGray: #ededed;
$regularFontSize: 20px;
$titleFontSize: 36px;
$links: 'robotomedium';
$txts: 'robotoregular';
$titles: 'robotoblack';


header {
    background: #2F3132;
    height: 100px;

    .wrapper-header {
        width: 1157px;
        margin: 0 auto;
    }
    
    .header-position {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    nav {
        width: 680px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        a {
            font-family: 'robotomedium';
            text-transform: uppercase;
            font-size: 12px;
            padding: 7px 0;
            color: #fff;
            text-decoration: none;
        }
    
        a:hover {
            border-bottom: 1px solid #fff;
            transition-duration: 0.3s;
            transition-delay: 0.2s;
        }
    
        div {
            background: #494949;
            height: 35px;
            width: 1px;
        }
    }
}

main {
    .top {
        background: #e0e1e2;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        position: relative;
        padding: 20px;

        h3 {
            position: absolute;
            top: 70px;
        }

        p {
            margin: 8px;
        }

        a {
            margin: 49px 0 60px 0;
        }
    }

    h3 {
        font-family: $titles;
        top: 100px;
        font-size: 36px;
        text-transform: uppercase;
    }

    p {
        font-family: $txts;
        font-size: 20px;
        width: 760px;
        text-align: center;
    }

    #wireless {
        height: 800px;
        padding: 70px;
        background: $mainGray;
        display: flex;
        flex-direction: column;
        align-items: center;

        i {
            color: #c4c4c4;
            font-size: 40px;
        }

        h3 {
            margin: 35px 0 0 0;
        }

        .bgt {
            margin: 60px auto 0 auto;
            position: relative;
            top: -60px;
            left: -230px;

            span {
                position: absolute;
                font-family: $titles;
                color: #c4c4c4;
            }

            span:first-child {
                font-size: 290px;
            }

            span:last-child {
                top: 55px;
                left: 330px;
                font-size: 90px;
            }
        }
        div:last-child {
            margin: 74px 0 0 0;
            width: 1245px;
            display: flex;
            justify-content: space-between;
        }
    }

    #everywhere {
        padding: 100px 0;
        height: 1157px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            margin: 0;
        }

        p {
            margin: 35px 0 0 0;
        }

        .advantages {
            margin: 50px auto;
            width: 505px;
            display: flex;
            justify-content: space-between;

            div {
                width: 230px;
                height: 140px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid #000;

                h3 {
                    margin: 0;
                }
                
                p {
                    margin: 0;
                    max-width: 100%;
                }
            }
        }

        .options {
            width: 1280px;
            height: 690px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                font-size: 20px;
                margin: 40px auto 15px auto;
            }
            
            div {
                width: 405px;
                height: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                ul {
                    width: 320px;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;

                }
                li {
                    list-style: none;
                    
                    img {
                        border-radius: 50%;
                    }

                    .active {
                        border: 2px solid red;
                    }
                }

                button {
                    font-size: 30px;
                    border: none;
                    background: none;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }

    #devices {
        background: $mainGray center no-repeat url(../img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1332px;

        h3 {
            margin: 100px auto 10px auto;
        }

        p {
            margin: 25px 0 0 0;
            width: 960px;
        }

        .how-to-use {
            margin: 60px auto;
            padding: 0;
            height: 60px;
            width: 960px;
            font-size: $regularFontSize;
            font-family: $txts;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                width: 315px;
                text-align: center;
                position: relative;
            }

            span:last-child {
                width: 150px;
            }

            div {
                background: #494949;
                width: 1px;
                height: 60px;
            }
        }
    }

    #individual {
        background: $mainGray;
        padding: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            margin: 0;
        }

        p {
            width: 958px;
            text-align: center;
            margin: 38px auto 52px auto;
        }

        img {
            width: 1171px;
        }

        div {
            margin: 52px 0 0 0;
            padding: 38px 0 29px 0;
            width: 749px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #c4c4c4;

            .icons {
                width: 512px;
                display: flex;
                justify-content: space-between;

                img {
                    width: 40px;
                    height: 35px;
                }

                img:nth-child(3) {
                    width: 80px;
                }
            }

            p {
                margin: 25px 0 0 0;
                text-align: center;
                width: 700px;
            }
        }
    }

    #faster {
        margin: 0 auto;
        padding: 100px;
        width: 1310px;
        display: grid;
        grid-template-rows: 557px 557px;

        div {
            display: grid;
            grid-template-columns: 655px 655px;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 30px;
                
                h3 {
                    margin: 0;
                } 
            }
        }

        .comfort {
            div {
                h3, p {
                    width: 400px;
                    text-align: left;
                }
            }
        }

        .faster {
            div {
                display: flex;
                align-items: end;
                h3, p {
                    width: 400px;
                    text-align: right;
                }
            }
        }
    }
}
footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2F3132;

    p {
        width: 200px;
        color: #c7c8c8;
        text-align: center;
    }
}