header {
    background: #2F3132;
    height: 100px;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

.header-position {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 860px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        font-size: 12px;
        padding: 7px 0;
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        border-bottom: 1px solid #fff;
        transition-delay: 0.2s;
    }

    span {
        color: #494949;
        font-size: 30px;
    }
}